@model WatchTowerWebApp.Models.Show

@{
    ViewData["Title"] = "Remove a Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to remove this show?</h1>

<div class="details-container">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEpisode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEpisode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEpisode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentEpisode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoWatcher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoWatcher.FirstName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn-backtolist">Back to List</a>
    </form>
</div>
