@model WatchTowerWebApp.Models.Service

@{
    ViewData["Title"] = "Remove a Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to remove this service?</h1>

<div class="details-container">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenewalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenewalDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn-backtolist">Back to List</a>
    </form>
</div>
